# Dependencies
node_modules
.pnpm
.yarn

# Build output
/.next
/out
/build

# Local environment files
.env
.env*.local

# Debug logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/